#arena{
  display: block;
  width: 100%;
  min-height: 500px;
  margin: 0px auto;
  border: 2px solid black;
}
#help{
  display: block;
  margin:5px auto;
  text-align: center;
}
#map{
  position: relative;
  display: block;
  margin: 5px auto;
  width: 1000px;
  height: 600px;
  border: 1px solid red;
}
.player{
  position: absolute;
  top:300px;
  display: block;
  margin-left: 1%;
  width: 30px;

}
#player1{
  top:250px;
}
#player2{
  top:315px;
}
#victory{
  position: absolute;
  top: 250px;
  right: 0px;
}
#result{
  display: none;
  border: 1px solid black;
  width: 50%;
  height: 200px;
  text-align: center;
  z-index: 10;
  margin:20px auto;
  position: absolute;
  left: 25%;
  top: 120px;
}
div.block{
  width: 100px;
  height: 120px;
  border: 1px solid blue;
  display: block;
  position: absolute;
}
#block1{
  top:60px;
  left: 200px;
}
#block2{
  top:240px;
  left: 200px;
}
#block3{
  top:420px;
  left: 200px;
}
#block4{
  top:150px;
  left: 450px;
}
#block5{
  top:330px;
  left: 450px;
}
#block6{
  height: 300px;
  top:150px;
  left: 750px;
}